<div class ="contents row">
<%# <script src="jquery.qrcode.min.js"></script> %>
    <div class="content_post" style="background-image: url(<%= @comment.image %>);">
      <% if user_signed_in? && current_user.id == @comment.user_id %>
        <div class="more">
          <span><%= image_tag 'arrow_top.png' %></span>
          <ul class="more_list">
            <li>
              <%= link_to '編集', "/comments/#{@comment.id}/edit", method: :get %>
            </li>
            <li>
              <%= link_to '削除', "/comments/#{@comment.id}", method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
      <%= simple_format(@comment.text) %>
      </span> 
    </div>
    <script type="text/javascript">
        var url = '';
        url += 'https://api.qrserver.com/v1/create-qr-code/?data=';
        url += encodeURIComponent(location.href);
        // 背景の色
        url += '&bgcolor=FFFFFF';
        // バーコードの色
        url += '&color=000000';
        // 余白
        url += '&qzone=0'; 
        // こっちも余白
        url += '&margin=0';
        // エラー訂正レベル
        url += '&ecc=L';
        // サイズ
        url += '&size=200x200';
        document.write('<img src=\"' + url + '\" />');
      </script>
    <div class="container">
      <%= form_with(model: [@comment, @post], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
        <% end %>

        <div class="posts">
        <h4>＜コメント一覧＞</h4>
        <% if @posts %>
          <% @posts.each do |post| %>
          <p>
            <%= post.text %>
          </p>
          <%= render "likes/like", post: post %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>